@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-typography;

// Forms and shit
$form-label-font-weight: normal;
$input-font-size: rem-calc(16);
@include foundation-forms;
@include foundation-button;
@include foundation-close-button;

//@include foundation-callout;

@include foundation-menu;
@include foundation-top-bar;

.navless-content {
    @include xy-grid-container;
    margin-top: 65px;
};

.form-error-alert {
    @include callout($alert-color);
    color: $alert-color;

}

/*
.form-input-error {
    //display: none;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: $alert-color;
    font-weight: bold;
    input {
        border-color: $alert-color;
        background-color:  mix($alert-color, $white, 10%);
    };
};
*/
// grid
@include foundation-xy-grid-classes(
    true,  // $base-grid: true
    false, // $margin-grid: true
    false, // $padding-grid: true
    false, // $block-grid: true
    false, // $collapse: true
    true,  // $offset: true
    false, // $vertical-grid: true
    false  // $frame-grid: true
);
