@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-typography;

// Forms and shit
$form-label-font-weight: normal;
$input-font-size: rem-calc(16);
@include foundation-forms;
@include foundation-button;


@include foundation-menu;
@include foundation-top-bar;

.navless-content {
    @include xy-grid-container;
    margin-top: 65px;
};

// grid
@include foundation-xy-grid-classes( true, false, false, false, false ,false, false, false
  /* options
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  */
);
